.background-img5 {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    z-index: -1; 
    filter: blur(1.3px);
}


#cpt
{
	position:relative;
	top: 327px;
    left: 725px;

}
b {
    position: absolute;
    left: 615px;
    font-size: 22px;
    top: 19px;
    color:green;
}

form {
    width: 443px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: beige;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  body {
    background-color: #e7d7b1;
  }
  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  h1 {
      color: green;
      position: relative;
      left: 620px;
  }
  .btn7{
    position: fixed;
    bottom: 653px;
    left: 1328px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }